* {
	margin: 0;
	padding: 0;
    width: 100%;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}
.container{
    display: block;
}
.header{
    height: 100%;
    width : 100%;
    background-color:#2B1C19;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    display: flex;
}
.header h3{
    font-size: 26px;
    color: aliceblue;
}
.wrapper{
    display: flex;
}

.sidebar{
    display: block;
    height :1500px;
    width: 400px ;
    background:lightslategray;
}
ul.listadmin{
    width: 100%;
    list-style : none;
}
ul.listadmin li{
    padding: 40px ;
    transition: 500ms;
}
ul.listadmin li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
ul.listadmin li:hover{
    background-color:#2c98d6;
}
.main{
    display: block;
    margin-top: 20px;
    margin-left: 20px;
}
.main h2{
    text-align: center;
}
.cabinlayout{
    margin-top: 20px;
    max-height: 500px;
    display: grid; 
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-row-gap: 20px;
}
.cabinet{
    width: 200px;
    height: 200px;
    border-style: solid;
    padding-top: 30px;
    text-align: center;
}
.cabinet1{
    width: 200px;
    height: 200px;
    background: greenyellow;
    border-style: solid;
    padding-top: 30px;
    text-align: center;
}
.cabinet2{
    width: 200px;
    height: 200px;
    border-style: solid;
    background: red;
    padding-top: 30px;
    text-align: center;
}
.responsive-table{
    width: 100%;
    
}
.responsive-table li {
      border-radius: 3px;
      padding: 25px;
      display: flex; 
      width: 100%;
}
.responsive-table .table-header {
      background-color: #95A5A6;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;

}
.responsive-table .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
      width: 100%;
}
.col {       
    flex-basis: 100%;  
    padding: 10px;
    padding-top: 15px;
    display: flex;
    font-family:Arial;
    justify-content: center;
}
.col p{
    display: flex;
    font-family:Arial;
    justify-content: center;
}
.col1{
    display: flex;
    font-family:Arial;
    justify-content: center;
    padding-top: 15px;
}
.col1 a{
    color: rgb(25, 54, 218);
    font-weight: 600;
}
.col1 a:hover{
    color: #ffffff;
}
.col button{
    border: none;
    border-radius: 5px;
    background: lightblue;
    padding: 10px 20px;
    transition: 500ms;
}
.col1 button:hover{
    background: green;
}
.search{
    margin-top: 20px;
}
.search1{
    display: block;
}
.searchcabin{
    display: block;
}
.searchcabin input{
    width: 200px;
    border-radius: 20px;
    padding: 10px;
}
.tb_search{
    margin-bottom: 20px;
    display: flex;
}
.tb_search label{
    width: 100px;
    margin-right: 10px;
}
.tb_search input,select{
    width: 200px;
    border-radius: 20px;
    padding: 10px;
}
.pagination {
    display: flex;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 22px;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}


.add{
    padding-bottom: 30px;
}